<div class="auth-container">
  <div class="auth-card">
    <h3 class="auth-title">Create an Account</h3>

    @if (successMessage) { <div class="alert alert-success text-center">{{ successMessage }}</div> }
    @if (errorMessage) { <div class="alert alert-danger text-center">{{ errorMessage }}</div> }

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <div class="input-group-custom">
        <label>Full Name</label>
        <input type="text" formControlName="fullname" class="form-control" placeholder="Syed waris">
        @if (registerForm.get('fullname')?.touched && registerForm.get('fullname')?.invalid) {
        <span class="error-text">Full name is required.</span>
        }
      </div>

      <div class="input-group-custom">
        <label>Email</label>
        <input type="email" formControlName="email" class="form-control" placeholder="syed@example.com">
        @if (registerForm.get('email')?.touched && registerForm.get('email')?.invalid) {
        <span class="error-text">A valid email is required.</span>
        }
      </div>

      <div class="input-group-custom">
        <label>Password</label>
        <input type="password" formControlName="pass" class="form-control" placeholder="Min 4 characters">
        @if (registerForm.get('pass')?.touched && registerForm.get('pass')?.invalid) {
        <span class="error-text">Password is required (min 4 chars).</span>
        }
      </div>

      <div class="input-group-custom">
        <label>Confirm Password</label>
        <input type="password" formControlName="confpass" class="form-control" placeholder="Re-enter password">
        @if (registerForm.get('confpass')?.touched && registerForm.get('confpass')?.invalid) {
        <span class="error-text">Passwords do not match.</span>
        }
      </div>

      <div class="input-group-custom">
        <input type="checkbox" formControlName="privpolicy" class="form-check-input">
        <label class="ms-2">I agree to the privacy policy</label>
        @if (registerForm.get('privpolicy')?.touched && registerForm.get('privpolicy')?.invalid) {
        <span class="error-text">You must agree to the policy.</span>
        }
      </div>


      <button type="submit" class="btn btn-success w-100 mt-2">Register</button>
    </form>

    <div class="auth-footer">
      <p>Already have an account? <a routerLink="/login">Login here</a></p>
    </div>
  </div>
</div>